__pycache__/load_10X_matrices.cpython-310.pyc
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213956_Colon_MGI_111_v2_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213957_Colon_MGI_112_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213958_Colon_MGI_121_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213959_Colon_MGI_122_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213960_Colon_MGI_141_v2_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213961_Colon_MGI_151_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213962_Colon_MGI_152_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213963_Colon_171_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213964_Colon_172_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213965_Colon_181_v2_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213966_Colon_182_v2_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213967_Colon_MGI_191_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213968_Colon_MGI_192_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213969_Colon_MGI_211_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213970_Colon_MGI_213_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213971_Colon_MGI_233_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213972_Colon_MGI_241_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213973_Colon_MGI_243_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213974_Colon_MGI_251_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213975_Colon_MGI_252_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213976_Colon_MGI_253_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213977_Colon_MGI_261_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213978_Colon_MGI_271_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213979_Colon_MGI_272_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213980_Colon_MGI_273_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213981_Colon_MGI_281_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213982_Colon_MGI_282_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213983_Colon_MGI_283_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213984_Colon_MGI_291_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213985_Colon_MGI_292_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213986_Colon_MGI_301_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213987_Colon_MGI_302_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213988_Colon_MGI_303_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213989_Colon_MGI_311_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213990_Colon_MGI_312_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213991_Colon_MGI_313_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213992_Colon_MGI_321_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213993_Colon_MGI_322_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213994_Colon_MGI_323_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE205506-GSM6213995_Colon_MGI_333_v3_matrix.h5ad
cache/home-data-PanCanSC-CRC-GEO-GSE178318-GSE178318_matrix.h5ad
.gitignore
Merged_ICI_T_cell_analysis.ipynb
Merged_ICI_T_cell_analysis.ipynb
cache/data-ICI_exprs-GSE169246-GSE169246_TNBC_RNA_matrix.h5ad
cache/home-data-ICI_exprs-GSE169246-GSE169246_TNBC_RNA_matrix.h5ad
__pycache__/scRNA_utils.cpython-39.pyc
.gitignore
